a {
    text-decoration: none;
    
  }

li{
    color: rgb(156, 156, 156);
}

#Accueil{
    color: white;
}

li:hover{
    color: rgb(255, 255, 255)
}

#nav{
    position: absolute;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    z-index: 1;
    margin-left: 38.62rem;
    margin-top: 0.69rem;  
}

#nav li{
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 45px;
    z-index: 1;
    text-decoration: none;

    
}

#nav::before{
    text-decoration: none;
    color: #ffffff;
}


#Portfolio{
    position: relative;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10.44rem;
    margin-top: 0.69rem;
}

#chibi{
    position: absolute;
    width: 2.875rem;
    height: 2.875rem;
    margin-left: 6.69rem;
    margin-top: -3.69rem;
    z-index: 3;
}

#fusee{
    position: absolute;
    width: 3.875rem;
    height: 3.875rem;
    margin-top: -0.5rem;  
    margin-left: 75.62rem;
}
