body{
    background-color: black;
    background-image: url('/IMG/etoiles 2.png'); background-repeat: no-repeat; /* Chemin vers votre image */
    z-index: -1;
    scrollbar-color: #EE4CDB rgb(0, 0, 0); /* scroll thumb and track */
    overflow-x: hidden;
  }
  html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }
  body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0); /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #EE4CDB; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0); /* creates padding around scroll thumb */
  }

ul{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 1.75rem;  
    justify-content: center; 
     /*align-items: center;*/
     list-style-type: none;
     margin-top: 1%;

}

li{
    color: #919191;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 175% */
}

li:hover{
  color: #FFF;
}

h1,h2,h3,h4{
  color: white;
  font-family: poppins;
}

a{
  text-decoration: none;
}

