.navbar {
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(48, 46, 46);
    border-radius: 20px;
    
}

.navbar a {
    margin: 5px;
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #fff;
    border-radius: 18px;
    width: 100px;
    font: bold 12px Verdana;    
    
}

a:hover,

a:focus {
  color: #333;
  background-color: #fff;
}

a {
    color: #fff;
    background-color: #333;
    transition: all 0.5s ease-out;
    
}

#Contact{
  float: right;
  align-items: right;
}
 

a:not(:last-child) {
    margin-right: 22px;
  }